<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <h1>My FAVORITE fooDS</h1>
    <a href="/animals/?animal=crocodile">crocodile</a>
    <a href="/animals/?animal=bunny">Bunny</a>
    <h2>{{animal}}</h2>
  </body>
</html>
