<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <h1>fav foods</h1>
    {{#each foods}}
    {{>card}}
    {{/each}}
  </body>
</html>
